<h3>{{titulo}}</h3>
<hr/>

<form #formProducto="ngForm" class="col-lg-6" id="form-producto" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre: </label>
    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="producto.nombre" class="form-control">
    <label for="description">Descripción</label>
    <textarea #description="ngModel" name="description" [(ngModel)]="producto.description" class="form-control"></textarea>
    <label for="precio">Precio: </label>
    <input type="text" #precio="ngModel" name="precio" [(ngModel)]="producto.precio" class="form-control">
    <label for="imagen">Imagen: </label>
    <input type="file" class="form-control">

    <br/>
    <input type="submit" value="{{titulo}}" class="btn btn-success">

</form>